worker_processes 2;

events { worker_connections 1024; }

http {
	server {
		listen 80;
		server_name image.local;

		location ~ (/uploads/|/upload) {
			proxy_pass http://api:3000;
		}

		location ~ (/) {
			proxy_pass http://app;
		}
	}

}